@import "variables/personal_variables";
@import "variables/bootstrap_variables";

@import "bootstrap";
@import "font-awesome";
@import "components/*";

.title {
  padding-left: 5px;
  display: flex;
  justify-content: space-around;
  list-style: none;
  border: 2px grey solid;
  background-color: pink;
}

.cate {
  background-color: pink;
  border-bottom: none;
  padding: 10px 0px 10px 0px;
}

li {
  padding: 0px 3px 0px 3px;
}

.avatar {
  display: flex;
  justify-content:flex-end;
  background: #f8f9fa; 
}

.navi {
  list-style: none;
}